@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

:root {
  --gradient: linear-gradient(#04619f, #130f40);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background: var(--gradient);
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 20px;
}
.header h3 {
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.5);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.container .generate-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 15px 40px;
  margin-block: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease all;
}
.container .generate-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.container .boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
/* color box styling */
.box {
  width: 200px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}
.box:hover {
  filter: brightness(110%);
}

.footer {
  text-align: center;
  margin-top: 30px;
  color: aliceblue;
  text-decoration: underline;
}
